<h1>一行掲示板</h1>

<section id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="name">
        <%= post.name %>
      </div>
      <div class="comment">
        <%= post.comment %>
      </div>
    </div>
  <% end %>
</section>
